<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">
	<context-param id="ParamValue_1480057118522">
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- springmvc 配置 前台 -->
	<servlet id="Servlet_1480057118365">
		<servlet-name>front</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-front.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping id="ServletMapping_1480057117111">
		<servlet-name>front</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	<!-- springmvc 配置后台 -->
	<servlet id="Servlet_1480057118474">
		<servlet-name>back</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-back.xml</param-value>
		</init-param>
		<!-- 屏蔽springmvc自动注册的异常处理器 -->
		<init-param>
			<param-name>detectAllHandlerExceptionResolvers</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping id="ServletMapping_1480057099505">
		<servlet-name>back</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>




	<!-- 中文乱码过滤器 -->
	<filter>
		<filter-name>SetAllCharacterEncodingFilter</filter-name>
		<filter-class>cn.bysj.core.web.common.filter.SetAllCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SetAllCharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- 解决中文乱码问题 -->
	<filter id="Filter_1480057118500">
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.shtml</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- 验证码 -->
	<servlet id="Servlet_1480057118482">
		<servlet-name>captcha</servlet-name>
		<servlet-class>cn.bysj.core.web.captcha.JcaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping id="ServletMapping_1480057117120">
		<servlet-name>captcha</servlet-name>
		<url-pattern>/captcha.svl</url-pattern>
	</servlet-mapping>
</web-app>
